<div class="container-fluid bg-light">
    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5">
                <div class="card-header">
                    Profil
                </div>
                <div class="card-body">
                    <div class="row text-center g-3">
                        <div class="col-md-12">
                            <img src="../../assets/images/profile.png" alt="user" id="user-photo">
                        </div>
                        <div class="col-md-12">
                            Super Admin
                        </div>
                        <div class="col-md-12">
                            superadmin@email.com
                        </div>
                        <div class="col-md-12">
                            <a routerLink="/profile/super-admin/update" class="btn btn-primary">Update Profil</a>
                            <a routerLink="/profile/super-admin/password" class="btn btn-primary">Ganti Password</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>