<div class="container-fluid bg-light">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-7">
                        E-Learning
                    </div>
                    <div class="col-md-5 mt-2 mb-1">
                        <a routerLink="/login" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="justify-content-center">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="fullname" class="form-label mt-1">Nama Lengkap</label>
                    <input type="text" class="form-control" id="fullname" name="fullname">
                    <div class="btn-group mt-4">
                        <button type="button" class="btn btn-primary" id="btnRegister" routerLink="/login">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>