<div class="container-fluid bg-light">
    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5">
                <div class="card-header">
                    Ganti Password
                </div>
                <div class="card-body">
                    <a routerLink="/profile/super-admin" class="btn btn-secondary mb-4">Kembali</a>
                    <form class="row mt-3">
                        <div class="col-md-2 mt-1 mb-1">
                            <label for="oldPassword" class="form-label">Old Password<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-4 mt-1 mb-1">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control">
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <label for="password" class="form-label">Password<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-4 mt-1 mb-1">
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="col-md-12 mt-4 mb-1">
                            <button class="btn btn-primary" type="button" id="updatePassword" routerLink="/profile/super-admin/password">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>