<div class="container-fluid bg-light">

    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5">
                <div class="card-header">
                    Dashboard
                </div>
                <div class="card-body">
                    <div class="row justify-content-evenly g-1">
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Kelas</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Kelas</h5>
                                <p class="card-text">10</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Guru</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Guru</h5>
                                <p class="card-text">5</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Siswa</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Siswa</h5>
                                <p class="card-text">120</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Attachment Materi dan Soal</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah File</h5>
                                <p class="card-text">140</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-evenly g-1 mt-1">
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Materi</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Materi</h5>
                                <p class="card-text">12</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Jadwal</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Jadwal</h5>
                                <p class="card-text">20</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Absen</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah Kehadiran</h5>
                                <p class="card-text">10</p>
                            </div>
                        </div>
                        <div class="card text-bg-light col-md-3" style="max-width: 18rem;">
                            <div class="card-header">Attachment Jawaban Siswa</div>
                            <div class="card-body">
                                <h5 class="card-title">Jumlah File</h5>
                                <p class="card-text">40</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>