<div class="container-fluid bg-light">

    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5">
                <div class="card-header">Jadwal Kuis</div>
                <div class="card-body">
                    <a routerLink="/quiz/instructor/class-hdr/1/material/" class="btn btn-secondary">Back</a>
                    <a routerLink="/quiz/instructor/class-hdr/1/material/1/schedule/new" class="btn btn-primary">Create</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kode</th>
                                    <th>Subjek</th>
                                    <th>Waktu Mulai</th>
                                    <th>Waktu Akhir</th>
                                    <th>Aktif</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>QZ-AXDAS</td>
                                    <td>Spring Boot - Basic</td>
                                    <td>2022-10-26 07:00:00</td>
                                    <td>2022-10-26 08:00:00</td>
                                    <td>true</td>
                                    <td>
                                        <div class="btn-group">
                                            <a routerLink="/quiz/instructor/class-hdr/1/material/1/schedule/1/attendance" class="btn btn-secondary">Absensi</a>
                                            <a routerLink="/quiz/instructor/class-hdr/1/material/1/schedule/1/collection" class="btn btn-secondary">Koleksi
                                                Jawaban</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>