<div class="container-fluid bg-light">

    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-11 justify-content-end">
                            Materi Belajar
                        </div>
                        <div class="col-md-1">
                            <span class="badge rounded-pill text-black">EX-AXDAS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a routerLink="/learning/instructor/class-hdr/1/material/" class="btn btn-secondary mb-4">Kembali</a>
                    <h5 class="card-title">Spring Boot - Basic</h5>
                    <p class="card-text">
                        Spring Boot adalah modul Spring yang menyediakan fitur RAD (Rapid Application Development)
                        ke framework Spring.
                    </p>
                    <a class="btn btn-primary mt-1">material.pdf</a>
                    <a class="btn btn-primary mt-1">readme.txt</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">2022-09-26 14:00:03</small>
                </div>
            </div>
        </div>
    </div>

</div>