<div class="container-fluid bg-light">
    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Dashboard Kelas</h5>
                        </div>
                        <div class="col-md-6 text-end">
                            <a routerLink="/dashboard/instructor" class="btn btn-secondary">Kembali ke Menu Utama</a>
                        </div>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/class-hdr/instructor/detail/{{classHdrResDto.data.id}}">Dashboard Kelas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/learning/instructor/class-hdr/{{classHdrResDto.data.id}}/material/">Materi
                                Belajar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/quiz/instructor/class-hdr/{{classHdrResDto.data.id}}/material/">Soal
                                Kuis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/exam/instructor/class-hdr/{{classHdrResDto.data.id}}/material/">Soal
                                Ujian</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/forum/instructor/class-hdr/{{classHdrResDto.data.id}}">Forum</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{classHdrResDto.data.subject}}</h5>
                    <p class="card-text">{{classHdrResDto.data.description}}</p>
                    <div class="text-center">
                        <ng-template [ngIf]="classHdrResDto.data.fileId !== null">
                            <img src="{{fileDownload}}{{classHdrResDto.data.fileId}}" class="class-dtl-img-top"
                                alt="no-image">
                        </ng-template>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{classHdrResDto.data.email}} - {{classHdrResDto.data.fullname}}
                </div>
            </div>
        </div>
    </div>
</div>