<div class="container-fluid bg-light">

    <div class="row g-1">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 justify-content-end">
                            Soal Kuis
                        </div>
                        <div class="col-md-4 text-end">
                            <span class="badge rounded-pill text-black">{{quizMaterialResDto.data.classCode}} - {{quizMaterialResDto.data.classSubject}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a routerLink="/quiz/student/class-dtl/{{classDtlId}}/schedule" class="btn btn-secondary mb-4">Kembali</a>
                    <h5 class="card-title">{{quizMaterialResDto.data.quizCode}} - {{quizMaterialResDto.data.quizSubject}}</h5>
                    <p class="card-text">
                        {{quizMaterialResDto.data.quizDescription}}
                    </p>
                    <ng-container *ngFor="let f of quizMaterialResDto.data.fileList">
                        <a href="{{fileDownload}}{{f}}" class="btn btn-primary mt-1">Download</a>
                    </ng-container>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{quizMaterialResDto.data.createdAt | date:'HH:mm:ss dd/MM/yyyy'}}</small>
                </div>
            </div>
        </div>
    </div>

</div>